script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
script.
    $(document).ready(function(){
        //- alert('hola');
    });
footer.main-footer
    .main-footer__item
        h3 Follow
    .main-footer__item
        h3 News
    .main-footer__item
        h3 Contact us
    p © <script> var d = new Date(); document.write(d.getFullYear());</script> #{site}