ul.main-menu
    //-li a(href="#!") Item1
    li.main-menu__item
        a(href="#!").main-menu__item Item1
    li.main-menu__item
        a(href="#!").main-menu__item Item2
    li.main-menu__item
        a(href="#!").main-menu__item Item3
    li.main-menu__item
        a(href="#!").main-menu__item Item4
    li.main-menu__item
        a(href="#!").main-menu__item Item5