-var site = "Nombre del proyecto"
-var title = "Proyecto"
-var description = "Esta es una descripción"
-var paginas = ["inicio","nosotros","servicios","clientes","contacto"]
-var paginaActual = "inicio"