extends templates/template
append config
    -title          = "Inicio"
    -description    = "Algún texto descriptivo"
    -paginaActual   = "inicio"
block main
    section
        h1 Bienvenido
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum fuga distinctio ipsum, sit? Quia amet, voluptas nesciunt saepe fugiat repellendus eos facilis alias unde, inventore non! Deserunt est aliquid voluptas.
    