extends templates/template
append config
    -title          = "Inicio"
    -description    = "Algún texto descriptivo"
    -paginaActual   = "inicio"
block main
    section.hero
        div.hero-container
            h1.hero__title Lorem Ipsum!
            p.hero__text Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    section.section
        aside.aside
            nav
                ul.aside-menu
                    li.aside-menu__item
                        a(href="#!").aside-menu__link Item 1
                    li.aside-menu__item
                        a(href="#!").aside-menu__link Item 2
                    li.aside-menu__item
                        a(href="#!").aside-menu__link Item 3
                    li.aside-menu__item
                        a(href="#!").aside-menu__link Item 4
        article.news
            header
                h2 Lorem ipsum dolor...
            figure.figure
                img(src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150", alt="")
                figcaption
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            figure.figure
                img(src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150", alt="")
                figcaption
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            figure.figure
                img(src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150", alt="")
                figcaption
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            figure.figure
                img(src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150", alt="")
                figcaption
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            figure.figure
                img(src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150", alt="")
                figcaption
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            figure.figure
                img(src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150", alt="")
                figcaption
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            figure.figure
                img(src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150", alt="")
                figcaption
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            figure.figure
                img(src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150", alt="")
                figcaption
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    